/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

body{

	font: normal 16px/24px 'Vollkorn', serif;
	width: 100%;
	background-color: #e1e1e1;

}

body a{
      text-decoration: none;
    color: #333399;
}


body a:visited{
  color: #333399;


}


body a:hover {
      text-decoration: none;
      color:black;

}


h1{
	font: bold 45px/ 35px "Georgia", serif;
	margin-bottom: 20px;
	padding: 10px;
	color: black;

}

p{
  margin-bottom: 15px;


}


.heading h1{
	text-align: center;
	font:  normal 46px/49px 'Satisfy', serif;
	
}

.wrap{
	max-width: 600px;
		margin: auto;
			background-color: white;
			border-bottom: 4px solid black;

}

.page {
		padding: 15px;
}

.profile{
	position: relative;

}
/**
.photograph{
	width: 400px; 
	height:300px; 
	background-image: url(https://cloud.githubusercontent.com/assets/12274440/7627374/674042d8-fa34-11e4-80c1-c37657f0bbf6.png) ;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
}
**/

.photograph{
   width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.img-responsive{
    position: relative;
    margin-left: auto;
    margin-right: auto;
     width: 100%; 
    height:auto; 
    
}


.photograph:hover{f
	opacity: 0.8 ;

}


.pf-list{
  font:  normal 22px/29px 'Vollkorn', serif;
    margin: 5px 20px 30px 20px;
}

.pf-list ul{
   list-style-type: none;
  margin: 10px;

}


.pf-list li{
    margin: 5px 20px 30px 20px;
}

.pf-list a .pf-list, a:visited{
    color:black;
}

.nav-menu{
  background-color: black;
  color: white;
  font: normal 17px/20px 'Satisfy', serif; 
  text-align: right;
    float:left;
    position:relative;
    width: 100%;
}

.nav-menu li{
  display: inline;
  margin: 10px;

}


.nav-menu ul{
  padding: 15px 20px;
}

.nav-menu a{
  color: white;
  text-decoration: none;
}

.nav-menu a:visited{
    color: white;


}

.nav-menu a:hover{
    color: white;


}


.blog-title{
  text-align:left;
  float:left;
}

.blog-title{
 font: normal 30px/23px 'Bangers', cursive;
 margin: 5px;
 padding: 10px;
}

.blog-title a{
  color: white;
  text-decoration: none;
      padding: 10px 5px;
      margin: 10px 5px;
}

.blog-title a:hover{
  text-decoration:none;
}

.social{

	margin: 15px;
	padding: 25px;
	position: relative;
	margin: auto;
	width: 60%;
}

.social li{

	display: inline;
	margin: 10px;
	padding: 5px;
}


.facebook{
	width: 45px; 
	height:45px; 
	display: inline-block;
	background-image: url(http://4.bp.blogspot.com/-bvOOYWu8tAE/VUnF1pu1XYI/AAAAAAAAB2A/00EmB3mkaNI/s1600/FB.png) ;
    background-repeat: no-repeat;
}

.twitter{
	width: 49px; 
	height:45px; 
	display: inline-block;
	background-image: url(http://4.bp.blogspot.com/-ld0H9wpdOPY/VUnF1i0YGqI/AAAAAAAAB18/xbzS701Pq7c/s1600/Twitter.png ) ;
	background-repeat: no-repeat;
}

.pinterest{
	width: 45px; 
	height: 45px; 
	display: inline-block;
	background-image: url(http://3.bp.blogspot.com/-j0LDdlmLTpY/VUnF2ZpUg7I/AAAAAAAAB2Q/y9NF0CDBQWY/s1600/pinterest.png) ;
	background-repeat: no-repeat;
}

.googleplus{
	width: 45px; 
	height:45px; 
	display: inline-block;
	background-image: url(http://1.bp.blogspot.com/-C3XeGkoMgKY/VUnF1uCiWhI/AAAAAAAAB2I/lRay8_C-vPc/s1600/Google_plus.png) ;
	background-repeat: no-repeat;
}

.facebook:hover{
background-image: url(http://3.bp.blogspot.com/-fwFuZa-aqe8/VUscm7nAoCI/AAAAAAAAB3M/FcyKo_uXK6w/s1600/FBB.png); 

}

.twitter:hover{
background-image: url(http://2.bp.blogspot.com/-UjfuxljwULA/VUscmro6AeI/AAAAAAAAB3Q/QKdjsLDn9PA/s1600/Twitter.png); 

}

.pinterest:hover{
background-image: url(http://4.bp.blogspot.com/-IZ1ssM4cXbI/VUscnbHDgyI/AAAAAAAAB3U/wQurUE4zAN8/s1600/pinterest.png); 

}

.googleplus:hover{
background-image: url(http://1.bp.blogspot.com/-UaMXnN5fKLg/VUscmmNqX3I/AAAAAAAAB3I/Z0uBU3zPudY/s1600/Googleplus.png); 
}


/* ==========================================================================
   POST TILES
   ========================================================================== */

/*
   Tiles content
   ========================================================================== */

   .article{
   	position: relative;
  float:left;
  margin: 0.5%;
  padding: 2% 4%;
   }

.article:hover{
	background-color: #fff;
}


        .article img{
       width: 100px;
        border: 4px solid black;
   }


     .article img:hover{
   	  opacity: 0.9;
   	
   }


   .article-text{
   	margin: 0 1.7%;
   	float:left;
   	width: 70%;
   	position: relative;

   }

   .article a{
   	font-weight: bold;
    font-size: 22px;
   }


   .snippet{
   	  	font: normal 14px/ 17px  'Georgia', serif;
   }

      .photo{
    float:left;
    height:auto;
   }


   .article-high{
    background-color: #fff;
    position: relative;
  float:left;
  margin: 0.5%;
  padding: 2% 4%;
   }

.article-high:hover{
  background-color: #fff;
}

   .photo-high{
    float:left;
    width: 65%;
    height:auto;
    padding: 0 2%;


   }

        .article-high img{

        border: 7px solid black;
   }

     .article-high img:hover{
      opacity: 0.9;
    
   }


   .article-text-high{
    margin: 1px 15px ;
    float:left;
    width: 25%;
    position: relative;

   }

   .article-high a{
    font-weight: bold;
        font-size: 22px;
   }



   .snippet-high{
        font: normal 14px/ 17px  'Georgia', serif;
   }



   footer{
   	clear:both;
   }

   .contact-info{
    text-align: center;
    margin: 30px 0;
    font-size: 17px;
   }



   /**

   Underline


   **/


/* Underline From Center */
.nav-one{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.nav-one:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-one:hover:before, .nav-one:focus:before, .nav-one:active:before {
  left: 0;
  right: 0;
}

/* Mobile
----------------------------------------------- */

@media screen and (max-width : 1280px) {
/* CSS FOR NETBOOK AND DESKTOP ------------*/
}

@media screen and (max-width : 970px) {
/* CSS FOR TABLETS ------------*/
}



@media screen and (max-width : 768px) {

/* CSS FOR SMALL TABLETS ------------*/

  .article{
   }

   .photo{
    width: 95%;
   }

      .photo-high{
    width: 95%;
   }

   .article img{
    width: 100%;
   }

   .article-text{
    width: 100%;
   }

      .article-text-high{
    width: 100%;
   }

      .article-high img{
    width: 100%;
   }


}



@media screen and (max-width : 640px) {
	.sidebar{

}

.content{

}
}
/* CSS FOR IPHONE ------------*/


@media screen and (max-width : 480px) {
/* CSS FOR MOBILES ------------*/
.content{


}

}


@media screen and (max-width : 320px) {
/* CSS FOR SMALL OLD MOBILES ------------*/
.wrap{

}

.nav ul{

}

}
